@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f8ff;
  font-family: "Inter", sans-serif;
}

.max-w-lg {
  max-width: 80rem;
  margin: 0 auto;
}

.noto-serif {
  font-family: "Noto Serif", serif;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: 700;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.menu-item {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.menu-item li a {
  text-decoration: none;
  color: #8987a1;
}

.menu-item li .active {
  font-weight: 700;
}

.fa-cart-shopping,
.menu-item li .black {
  color: #000;
}

.w-full {
  width: 100%;
}

/* banner styles */
.banner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 6rem 0;
}

.banner-heading {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 0.75rem;
}

.text-gray {
  color: #00000080;
}

.banner-desc {
  max-width: 38rem;
  font-size: 1.5rem;
}

.tomato {
  color: #e95a08;
}

/* plant section styles */
.plant-content h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.plant-content p {
  font-size: 1.5rem;
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.pb-13 {
  padding-bottom: 13rem;
}
.flower-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  gap: 2.5rem 0;
}
.py-2 {
  padding: 1.5rem 0;
}

.flower-name {
  margin-bottom: 0.75rem;
  font-weight: 500;
  font-size: 1.25rem;
}
.flower-price {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.flower-buy-button {
  background: #e95a08;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  padding: 1.125rem 0;
  font-weight: 600;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}
.w-h {
  width: 17rem;
  height: 20rem;
  object-fit: cover;
  object-position: top;
}
.max-w-17 {
  max-width: 17rem;
}

@media only screen and (max-width: 600px) {
  .none {
    display: none;
  }

  .p-1 {
    padding: 1.5rem 1rem;
  }

  .w-4 {
    width: 4rem;
  }

  .banner {
    flex-direction: column-reverse;
    padding: 0;
  }

  .banner-heading,
  .plant-content h1 {
    font-size: 1.5rem;
  }

  .banner-desc,
  .plant-content p {
    font-size: 0.875rem;
  }

  .plant-content p {
    margin-bottom: 1.5rem;
    padding: 0 1rem;
  }

  .flower-container {
    grid-template-columns: auto auto;
    gap: 1.5rem 0;
  }
  .w-h {
    max-width: 11rem;
    max-height: 13rem;
  }
  .text-base {
    font-size: 1rem;
  }
}
